<div class="page-container">
  <div class="padded-container secondary">
    <div class="heading">Hey, <%= resource.first_name %>!</div>
    <div class="sub-heading">Here you can adjust your account settings</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name" %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <% if params.has_key?(:email) %>
      <%= f.email_field :email, autocomplete: "email", readonly: true, value: "#{params.has_key?(:email) ? params[:email] : ''}", tabIndex: -1 %>
      <% else %>
      <%= f.email_field :email, autocomplete: "email" %>
      <% end %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, autocomplete: "phone" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Save changes", class: 'primary-button' %>
    </div>
    <% end %>
  </div>
</div>
