<div class="page-container">
  <div class="padded-container secondary">
    <div class="heading">Welcome to <%= @organization.name %>!</div>
    <div class="sub-heading">We just need some information to get started</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name" %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "last-name" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <% if params.has_key?(:email) %>
      <%= f.email_field :email, autocomplete: "email", readonly: true, value: "#{params.has_key?(:email) ? params[:email] : ''}", tabIndex: -1 %>
      <% else %>
      <%= f.email_field :email, autocomplete: "email" %>
      <% end %>

    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, autocomplete: "phone", placeholder: "What's a good number to reach you? Please use the format XXX-XXX-XXXX." %>
    </div>

    <%= f.hidden_field :organization_id, value: session[:organization_id] %>

    <div class="actions">
      <%= f.submit "Sign up", class: 'primary-button' %>
    </div>
    <% end %>
  </div>
</div>
