<div class="page-container">
  <div class="padded-container tertiary ">
    <div class="heading">Swap Requests</div>
    <% @swap_requests.each do |this| %>
    <%= link_to swap_request_path(this) do %>
    <div class="timecard">
      <div class="body">Submitted by: <%= User.find(this.requesting_user_id).full_name %></div>
      <div class="body"><%= Timeperiod.find(this.timeperiod_id).start_time.strftime("%b %e") %></div>
      <div class="body"><%= Timeperiod.find(this.timeperiod_id).start_time.strftime("%l:%M%P") %> — <%= Timeperiod.find(this.timeperiod_id).end_time.strftime("%l:%M%P") %></div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
