<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  <title>Your ShiftSwap Request has been approved</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');
  </style>
</head>

<body style="padding:0; margin:0; background-color: #990000; padding: 40px 40px 40px 40px; color: white; border-radius: 40px;">

  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding: 30px 30px 30px 30px; background-color: #990000; border-radius: 30px; color: white;" width="640px">

    <tr>
      <td align="center" valign="top">
        <%= image_tag 'logo.jpg', style: "display: block; margin: 0 auto; height: 300px;" if Rails.application.assets.find_asset('logo.jpg') != nil %>
      </td>
    </tr>
    <td height="20" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
    <tr>
      <td align="center" valign="top" style="font-family: 'Comfortaa', sans-serif; font-size: 24px;">
        Your ShiftSwap has been approved!
      </td>
    </tr>
    <td height="20" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
    <tr>
      <td align="center" valign="top" style="font-family: 'Comfortaa', sans-serif; font-size: 16px;">
        <%= @fulfilling_user.full_name %> has claimed your shift on <%= @shift.start_date.strftime("%b %e")+ " " + "#{Timeperiod.find(@swap_request.timeperiod_id).start_time.strftime("%l:%M%P")}" + " to " + "#{Timeperiod.find(@swap_request.timeperiod_id).end_time.strftime("%l:%M%P")}" %>
      </td>
    </tr>
    <td height="20" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
    <td height="20" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
    <tr>
      <td align="left" valign="top" style="font-family: 'Prata', serif; font-size: 16px; padding: 20px; text-align: center;">
        <a href=<%= "#{@invite_url}" %> style="text-decoration: none;">
        <span style="font-family: 'Montserrat', sans-serif; font-size: 16px; padding: 20px; text-transform: lowercase; font-variant: small-caps; background-color: white; width: 100%; min-width: 500px; border-radius: 20px; color: #990000; text-align: center; text-decoration: none;">Accept Invite</span>
        </a>
      </td>
  </tr>
</table>

</body>
</html>


ap_request.requesting_user_id).full_name %></div>
    <div class="body"><%= Timeperiod.find(@swap_request.timeperiod_id).start_time.strftime("%b %e")+ " " + "#{Timeperiod.find(@swap_request.timeperiod_id).start_time.strftime("%l:%M%P")}" + " to " + "#{Timeperiod.find(@swap_request.timeperiod_id).end_time.strftime("%l:%M%P")}" %></div>