<!-- Main Navigation -->
<nav>
  <div class="desktop-nav">
    <%= link_to root_path do %>
      <div class="nav-logo-text">Skedge</div>
      <% end %>
    <div class="nav-left">
      <%= link_to 'Home', root_path, class: 'nav-item' %>
      <%= link_to 'About', root_path, class: 'nav-item' %>
      <%= link_to 'Contact', root_path, class: 'nav-item' %>
    </div>
    <div class="nav-right">
      <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
  </div>

  <div class="mobile-nav">

  </div>

  <div class="mobile-nav-toggle">

  </div>
  <!-- Error Handling -->
  <div class="alert-bar">
    <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <%= msg %>
    </div>
    <% end %>
  </div>
</nav>
