<!-- Main Navigation -->
<nav>
  <div class="desktop-nav">
    <%= link_to root_path do %>
    <div class="nav-logo-text">Skedge</div>
    <% end %>
    <div class="nav-left">
      <% if !current_user %>
      <%= link_to 'Home', root_path, class: 'nav-item' %>
      <%= link_to 'About', root_path, class: 'nav-item' %>
      <%= link_to 'Contact', root_path, class: 'nav-item' %>
      <% elsif logged_in?(:business_manager) %>
      <%= link_to 'Organization', edit_organization_path(current_user.organization), class: 'nav-item' %>
      <%= link_to 'Manage members', members_path, class: 'nav-item' %>
      <%= link_to 'Create a Shift', new_timeperiod_path, class: 'nav-item' %>
      <%= link_to 'Manage Swaps', swap_requests_path, class: 'nav-item' %>
      <%= link_to 'View Schedule', timeperiods_path, class: 'nav-item' %>
      <%= link_to 'Your Account', edit_user_registration_path(current_user), class: 'nav-item' %>
      <% elsif logged_in?(:user) %>
      <%= link_to 'View Schedule', timeperiods_path, class: 'nav-item' %>
      <%= link_to 'Pick Up Shifts', swap_requests_path, class: 'nav-item' %>
      <%= link_to 'Your Account', edit_user_registration_path(current_user), class: 'nav-item' %>
      <% end %>
    </div>
    <div class="nav-right">
      <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
  </div>

  <div class="mobile-nav">

  </div>

  <div class="mobile-nav-toggle">

  </div>
  <!-- Error Handling -->
  <div class="alert-bar">
    <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <%= msg %>
    </div>
    <% end %>
  </div>
</nav>
