<div class="page-container">
  <div class="padded-container">
    <div class="heading"><%= @timeperiod.start_time.strftime("%b %e") %></div>
    <div class="heading"><%= @timeperiod.start_time.strftime("%l:%M%P") %> — <%= @timeperiod.end_time.strftime("%l:%M%P") %></div>
    <% if @timeperiod.user_id == current_user.id %>
    <%= form_for @swap_request do |f| %>

    <%= f.hidden_field :timeperiod_id, value: params[:id] %>

    <div class="actions">
      <%= f.submit "I can't make it", class: 'primary-button' %>
    </div>

    <% end %>
    <% end %>
  </div>
</div>


