<!DOCTYPE html>
<html>
  <head>
    <title>Skedge // Fundamentally Better Scheduling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Generic -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shink-to-fit=no, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true" />

  <meta name="description" content="Skedge: Simple Scheduling">
  <meta name="keywords" content="business tools, scheduling, shifts, shift management, timekeeping, clock-in, clock-out, food service, restaurant, staffing, staff, management">
  </head>

  <body>
    <%= render 'site_wide_partials/topbar' %>
    <%= yield %>
    <%= render 'site_wide_partials/bottom_bar' %>
  </body>
</html>
