<!DOCTYPE html>
<html>
  <head>
    <title>Skedge // Fundamentally Better Scheduling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'site_wide_partials/topbar' %>
    <%= yield %>
    <%= render 'site_wide_partials/bottom_bar' %>
  </body>
</html>
